/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  /*===== Colores =====*/
  --color-orange: #ff422d;
  --color-orange-soft: #f1867a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #555555;
  --color-gray-soft: #dfdfdf;
  --color-footer: #1b262c;
  /* Font */
  /* Body font */
  --font-body: 'Poppins', sans-serif;
  /* Size */
  --font-size-small: .810rem;
  --font-size-normal: .975rem;
  --font-size-big: 1.3rem;
  --font-size-bigger: 1.5rem;
  --font-size-biggest: 2rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.1rem;
  /* Weight */
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  /* Margin */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /* Z-index */
  --z-fix: 100;
  --z-back: -1;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-small: .9rem;
    --font-size-normal: 1.1rem;
    --font-size-big: 1.5rem;
    --font-size-bigger: 2rem;
    --font-size-biggest: 3rem;
  }
}

/* Base value */

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark);
  line-height: 1.6;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black) font-size: var(--font-size-bigger);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Section */

.section {
  padding: 4rem 0 2rem;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: var(--font-size-big);
  margin: 0 0 var(--mb-4) 0;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: .2rem;
  top: -1rem;
  right: 0;
  left: 0;
  margin: auto;
  background-color: var(--color-dark);
}

/* Layout */

.bd-grid {
  max-width: 1024px;
  display: grid;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  grid-template-columns: 100%;
  margin: 0 var(--mb-2) 0 var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fix);
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-orange);
}

/* Nav bar */

.nav {
  justify-content: space-between;
  display: flex;
  height: var(--header-height);
  align-items: center;
}

.nav__item {
  margin: 0 0 var(--mb-4) 0;
  text-transform: uppercase;
}

.nav__logo {
  font-weight: var(--font-weight-semi-bold);
}

.nav__toggle, .nav__cart {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    padding: 3rem;
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    transition: 1s;
    text-align: center;
    border-top: 2px solid var(--color-orange);
  }
}

/* Show menu*/

.show {
  left: 0;
}

/* Home banner*/

.home {
  background-color: var(--color-white);
  overflow: hidden;
}

.home__container {
  height: calc(80vh - var(--header-height));
}

.home__banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
}

.home__img {
  width: 45vh;
  height: auto;
  top: 2rem;
  max-width: initial;
}

.home__new {
  display: block;
  margin: var(--mb-1) 0;
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-big);
}

.home__new span {
  color: var(--color-orange);
}

.home__title {
  text-transform: uppercase;
  font-size: var(--font-size-biggest);
  margin-bottom: var(--mb-1)
}

.home__title span {
  color: var(--color-orange);
}

.home__description {
  margin-bottom: var(--mb-1)
}

.home__data {
  height: 3rem;
}

/* Buttons */

.button {
  display: inline-block;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem 1.25rem;
  font-weight: var(--font-weight-medium);
  transition: .2s;
}

.button:hover {
  background-color: var(--color-orange);
  color: var(--color-black);
}

/* Featured button*/

.button-light {
  display: block;
  text-decoration: underline;
}

.button-light i {
  font-size: 1.5rem;
}

.button-light:hover {
  color: var(--color-orange);
  transition: .5s;
}

.button-subs {
  display: inline-block;
  background-color: var(--color-gray);
  color: var(--color-orange-soft);
  padding: .5rem .1rem;
  font-weight: var(--font-size-small);
  min-width: 8rem;
}

.button-subs:hover {
  color: var(--color-white);
}

/* CART */

.cart {
  margin: var(--mb-2) auto;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 1.5rem;
  background-color: var(--color-orange);
  font-weight: normal;
}

td {
  padding: 2rem 1rem;
}

.right-align {
  float: right;
}

td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

td a {
  color: var(--color-orange);
  font-size: 1.1rem;
  font-weight: bold;
}

td a:hover {
  color: blue;
}

td img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.total-price {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  flex-direction: column;
  margin-top: 2rem;
}

.total-price table {
  border-top: 3px solid var(--color-black);
  width: 100%;
  max-width: auto;
}

td {
  text-align: left;
}

th {
  text-align: right;
  color: var(--color-white);
  font-weight: var(--font-weight-semi-bold);
  text-align: left;
}

/* Form */

/* form -cart */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Product */
.product__container {
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-gray-soft);
}

.product__sale {
  position: absolute;
  left: 0;
  background-color: var(--color-black);
  color: var(--color-orange-soft);
  padding: .5rem;
  top: 0;
  letter-spacing: .33rem;
}

.product__img {
  width: 350px;
  height: auto;
  margin: var(--mb-3) 0 var(--mb-6) 0;
  transform: rotate(30deg);
  filter: drop-shadow(0 22px 10px rgba(0, 0, 0, 0.54));
}

.product__name {
  font-size: var(--font-size-h2);
  letter-spacing: .35rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-orange-soft);
  text-transform: uppercase;
  margin: 0 0 var(--mb-2) 0;
}

.product__price {
  font-size: var(--font-size-h3);
  letter-spacing: .15rem;
  margin: 0 0 var(--mb-1) 0;
}

/* Product detail */
.product-i {
  background-color: var(--color-white);
  overflow: hidden;
}

.product-i__container {
  height: calc(80vh - var(--header-height));
}

.product-i__banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  padding: 2.5rem .5rem
}

.product-i__new {
  display: block;
  margin: var(--mb-1) 0;
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-big);
}

.product-i__new span {
  color: var(--color-orange);
}

.product-i__title {
  text-transform: uppercase;
  font-size: var(--font-size-normal);
  color: var(--color-orange-soft);
  margin-bottom: var(--mb-1)
}

.home__title span {
  color: var(--color-orange);
}

.product-i__description {
  margin-bottom: var(--mb-1);
  font-size: var(--font-size-small);  
}
/* Featured */

.featured__container {
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.featured__product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-gray-soft);
}

.sneaker__sale {
  position: absolute;
  left: 0;
  background-color: var(--color-black);
  color: var(--color-orange-soft);
  padding: .5rem;
  top: 0;
  letter-spacing: .33rem;
}

.sneaker__img {
  width: 350px;
  height: auto;
  margin: var(--mb-3) 0 var(--mb-6) 0;
  transform: rotate(30deg);
  filter: drop-shadow(0 22px 10px rgba(0, 0, 0, 0.54));
}

.sneaker__name {
  font-size: var(--font-size-h2);
  letter-spacing: .35rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-orange-soft);
  text-transform: uppercase;
  margin: 0 0 var(--mb-2) 0;
}

.sneaker__price {
  font-size: var(--font-size-h3);
  letter-spacing: .15rem;
  margin: 0 0 var(--mb-1) 0;
}

/* Category */

.category__container {
  row-gap: 3rem;
  justify-content: left;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.category__card {
  background-color: var(--color-gray-soft);
  display: flex;
  position: relative;
  height: 45vh;
  width: auto;
  padding: 2rem;
}

.category__data {
  align-self: flex-start;
}

.category__name {
  margin: 0 0 var(--mb-3);
  font-size: var(--font-size-bigger);
}

.category__name span {
  color: rgb(233, 126, 144);
}

.category__description {
  margin: 0 0 var(--mb-5);
}

.category__img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 80%;
  width: auto;
  padding: 1rem;
}

/* Newsletter */

.newsletter__container {
  text-align: center;
}

.newsletter__subscribe {
  background-color: var(--color-gray-soft);
  padding: 2rem 1.5rem;
}

.newsletter__description {
  margin: 0 0 var(--mb-4);
  font-size: var(--font-size-big) color: var(--color-gray);
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.newsletter__input {
  outline: none;
  border: none;
  color: var(--color-black);
  font-size: var(--font-size-big);
  padding: 0 2rem;
  min-width: auto;
}

/* Brands */

/* Pagination */

.pagination {
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.pagination-container {
  padding: 0 3.5rem;
}

.pagination span {
  display: inline-block;
  padding: .5rem 1rem;
  border: 2px solid var(--color-orange);
  border-radius: 1rem;
  font-size: var(--font-size-small);
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.pagination span:hover {
  border: 2px solid var(--color-black);
  background-color: var(--color-orange-soft);
  color: var(--color-black);
}

.pagination__active {
  border: 3px solid var(--color-black);
  background-color: var(--color-orange-soft);
  color: var(--color-black);
}

/* Footer */

.footer {
  background-color: var(--color-footer);
  padding: 1.5rem;
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__box {
  margin: 0 0 var(--mb-3);
}

.footer__title {
  font-size: var(--font-size-normal);
  text-transform: uppercase;
  margin: 0 0 var(--mb-2);
  color: var(--color-orange);
}

.footer__link {
  display: block;
  font-size: .875rem;
  width: max-content;
  color: var(--color-white);
  margin: 0 0 var(--mb-1);
}

.footer__link:hover {
  color: var(--color-orange-soft);
}

.footer__description {
  display: block;
  font-size: .875rem;
  width: max-content;
  color: var(--color-white);
  margin: 0 0 var(--mb-1);
}

.footer__description:hover {
  color: var(--color-orange-soft);
}

.footer__copyright {
  font-size: var(--font-size-small);
  text-align: center;
  color: var(--color-white);
  padding: 2rem 1rem;
  border-top: 2px solid var(--color-orange);
}

.footer__copyright span {
  color: var(--color-orange-soft)
}

/* Media query */

@media screen and (min-width: 576px) {
  .category__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }
  .category__img {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding: 4rem 0 1.5rem 0;
  }
  .section-title {
    padding: 2rem 0 0 0;
    text-transform: uppercase;
  }
  .section-title::after {
    width: 76px;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__item {
    margin: 0 0 0 var(--mb-6);
  }
  .nav__list {
    display: flex;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link:hover {
    color: var(--color-orange-soft);
  }
  .active__link {
    color: var(--color-orange);
  }
  .home__container {
    height: 80vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }
  .home__banner {
    order: 1;
  }
  .home__img {
    width: 45px;
    height: auto;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }
  .newsletter__form {
    padding: 0 4rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .cart-info p {
    display: none;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    column-gap: 8rem;
  }  
  .product__container {
    column-gap: 2rem;
  }
  .category__container {
    grid-template-columns: repeat(2, 500px);
  }
}